body {
    margin: 10px;
    font-family: "Droid Sans Mono", serif;
}

h3 {
    margin: 0;
}

#leftPane {
    display: inline-block;
    width: 30%;
    height: 400px;
}

#rfcListTitle {
    background: #c1c1c1;
    margin: 0;
}

#rfcListContainer {
    background: #ececec;
    height: inherit;
    overflow: scroll;
}
#rfcListContainer li:hover {
    background: yellowgreen;
}

#currentRfcContentContainer {
    display: inline-block;
    background: lightgray;
    width: 60%;
    height: 400px;
    overflow: scroll;
    padding: 10px;
}

#rfcContent {
    margin: 3px;
}

#searchInputsContainer {
    margin: 10px;
}

/* Center the loader */
/* Absolute Center CSS Spinner */
.spinner {
    position: fixed;
    z-index: 999;
    height: 5em;
    width: 5em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    background: url(../img/Preloader_3.gif) center no-repeat #fff;
}

/* Transparent Overlay */
.spinner:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
